html {
	background-color: #000000;
	color: #e8e6e3
}
footer {
    text-align: center;
    padding: 50px;
	position: fixed;
	bottom: 0px;
	padding:0px;
	font-size: small;
}
header p {
	font-size: 450%;
	padding: 0px;
	margin: 0px;
	margin-bottom: -.5%
}
html {
  background-image: url("fourohfour.png");
  height: 100%;
  margin: 0;
  background-position: right bottom;
  background-repeat: no-repeat
}